# Ignore IDE files
**/.idea/
**/.vscode/
**/.venv/
**/.zed/

# Ignore temporary files
**/__pycache__/
**/__private/
**.ruff_cache/
**.backup/
*.pyc
*.swp
*.bak
*_bak*.hdanc

# Ignore large binary files
*.bgeo.sc
*.tex
*.usd
*.usdc
*.vdb

# Ignore keys
env.py
env_sg.py

# Ignore proprietary plugins
src/dcc/houdini/third_party/axiom

# Ignore third-party Python libraries
src/lib/python
src/dcc/maya/third_party/rjg

# Ignore user specific splash screens
resources/splash/users

# Ignore flashbangs
resources/flashbang

agents
.codex
.claude
